<div class="cart-item">
  <div class="product-details">
    <img src="{{foto}}" alt="{{nombre}}" class="cart-item-image">
    <div class="product-info">
      <div class="product-name">{{nombre}}</div>
      <div class="product-stock">Stock: {{stock}}</div>
    </div>
    <button class="remove-item-button">
      <img src="/2 Ventas/assets/trash.svg" alt="Remove item" class="remove-item-image">
    </button>
  </div>
  <div class="product-quantity-controls">
    <div class="quantity-controls">
      <button class="quantity-button decrement-button">
        <img src="/2 Ventas/assets/minus.svg" alt="">
      </button>
      <input type="text" class="quantity-input" value="1">
      <button class="quantity-button increment-button">
        <img src="/2 Ventas/assets/plus.svg" alt="">
      </button>
    </div>
    <div class="item-price" contenteditable="true">Bs {{precio}}</div>
  </div>
  <div class="item-total-price">Total: Bs 15</div>
</div>