<div class="product-item">
  <div class="product-info">
    <img src="/2 Ventas/assets/logo-difuminado.png" alt="{{nombre}}" class="product-image-cart">
    <div class="product-text">
      <div class="product-item-name">{{nombre}}</div>
      <div class="product-stock">{{stock}} Disponibles</div>
    </div>
    <button class="delete-button">
      <i class="fas fa-trash-alt"></i> 
    </button>
  </div>
  <div class="product-quantity">
    <button class="quantity-button">-</button>
    <div class="quantity">1</div>
    <button class="quantity-button">+</button>
    <div class="product-price-cart">{{precio}}</div>
  </div>
  <div class="total-price-cart">Precio por <span class="quantity">1</span> unidades: Bs 15</div>
</div>